<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>{{ title }} | Marvel Champions Keyword Reference</title>
    <link rel="stylesheet" href="../../static/styles.css" type="text/css">
  </head>

  <body>
    <main class="keyword">
      <h1>
        <a href="/">&larr; {{ title }}</a>
      </h1>
      <p class="short">{{ content | safe }}</p>
      {% if extended %}
        <p>{{ extended | safe}}</p>
      {% endif %}
    </main>
  </body>
</html>